@model IEnumerable<TurkeyWebsiteProject.Models.City>

@{
    ViewData["Title"] = "Cities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Name)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Description)</a>
</th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Territory)</a>
</th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Food)</a>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Territory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
