@model IEnumerable<TurkeyWebsiteProject.Models.Territory>

@{
    ViewData["Title"] = "Territories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Territories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img src="~/img/Territories/@item.Image" alt="Territory Image" class="img-territory" />
                }
                else
                {
                    <img src="~/img/placeholder.png" alt="Territory Image" class="img-territory"/>

                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
